<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoBlaze Tests">
    <test name="Demo">
        <classes>
            <class name="org.example.SignUpTest"></class>
            <class name="org.example.LogInTest"></class>
            <class name="org.example.AboutUsTest"></class>
            <class name="org.example.ContactUsTest"></class>
            <class name="org.example.AddThreeRandomItemsTest"></class>
            <class name="org.example.CheckingOutTest"></class>
        </classes>
    </test>
</suite>
